@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: lightblue;
}

#weather-data {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  height: 220px;
  width: 150px;
  background: #fff;
  margin-right: 15px;
  margin-top: 15px;
}

.note {
  &--yellow {
    background-color: #FCE7BA;
  }

  &--red {
    background-color: #F5C6D7;
  }

  &--blue {
    background-color: #75CCF1;
  }

  &--green {
    background-color: #D6F8E0;
  }
}
